@import url(https://fonts.googleapis.com/css?family=Oleo+Script);

* {
  margin: 0;
  padding: 0;
}
#products {
  flex-wrap: wrap;
  gap: 20px;
}

img {
  height: 200px !important;
  object-fit: cover;
}

.card {
  width: calc((100% / 4) - 15px);
  min-width: 300px;
  order: 0.25px solid rgb(221, 216, 216);
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-title {
  text-transform: capitalize;
}

marquee {
  text-transform: capitalize;
}

button p{
  padding: 0;
  margin: 0;
}


input {
  margin-bottom: 2px !important;
}

.cart #addToCart{
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 70%;
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 1px; /* Add some space below the input */
}

/* .order {
  width: 100%;
  margin: 10px auto;
} */

h4 {
  font-family: 'Oleo Script', cursive;
  color: orangered;
}

#cart {
  background-color: #eee;
}

.main h4, .main p {
  padding: 0;
  margin: 0;
}
/*  */
.main {
  background-color: #fff;
  margin: 20px auto;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1200px;
}

.main .card-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}



@media screen and (max-width: 1400px) {
  .fas {
    display: inline;
  }
  .write {
    display: none;
  }
  input {
    width: 40%;
  }
}

@media screen and (min-width: 1401px) {
  .fas {
    display: none;
  }
  .write{
    display: flex;
  }
}

@media screen and (max-width: 1100px) {
  .card{
    display: flex;
    flex-direction: column;
  }
}
